<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LibraryWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LibraryDataBaseEntities" connectionString="metadata=res://*/Models.LibraryDataBaseModel.csdl|res://*/Models.LibraryDataBaseModel.ssdl|res://*/Models.LibraryDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=LibraryDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <LibraryWpfApp.Properties.Settings>
      <setting name="idUsers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="idRoleUsers" serializeAs="String">
        <value>0</value>
      </setting>
    </LibraryWpfApp.Properties.Settings>
  </userSettings>
</configuration>